.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 1.0rem;
    padding: 10px;
    border-bottom: 3px solid black;


}

.navlinks {
    margin: 0 10px;
    text-decoration: none;
}

.home {
    color: hsl(250,  100%, 67%)
}

nav a:hover {
    /*======= create a background property and set it to white.  Then create a color property and set it's value to pink. */
      /* background: white; */
      color: rgb(155, 204, 247);
      /* animation: pulse 1s infinite; */
    }

    @keyframes pulse {
        0% {
          background-color: lightcyan;
        }
        100% {
          background-color: dodgerblue;
        }
      }